<a href="/new" class="button large new">New Entry</a>

<h1><%= @page_title %></h1>
<p class="description"><%= @page_description %></p>

<div id="contacts" class="row">

	<% if @collections.empty? %>
		<div class="empty-phonebook columns-12">
			No entries in the phonebook
		</div><!-- end empty-phonebook -->
	<% else %>
    
	    <% @collections.each do |collection| %>

	      <div class="columns-12">
	        <h1 class="letter">
				<%= collection.first %>
			</h1>
			
	        <div class="row">
	        <% collection.last.each do |contact| %>
			
	          <div class="columns-4">
	            <div class="contact">
	              <h1>
					  <%= "#{contact.first_name} #{contact.last_name}"%>
				  </h1>
	              <p>
	                <strong>Phone:</strong>
	                <%= contact.phone_number %>
	              </p>
	              <p>
	                <strong>Email:</strong>
	                <%= contact.email_address %>
	              </p>
	              <p>
	                <strong>Address:</strong>
	                <%= contact.full_address %>
	              </p>
	              <% if !contact.notes.empty? %>
	              <p>
	                <strong>Notes:</strong>
	                <%= contact.notes %>
	              </p>
	              <% end%>
				  
	              <div class="actions">
	                <a class="button" href="/edit/<%= contact.id %>">Edit</a>
	                <a class="button" href="/delete/<%= contact.id %>">Delete</a>
	              </div>
				  
	            </div><!-- end  .contact -->
	          </div><!-- end .columns-4 -->
			  
	        <% end %>
	      </div><!-- row -->
		  
		</div><!-- end columns-12 -->

	    <% end %>

  <% end # endifelse %>
  
</div><!-- end #contacts .row -->

